<div class="title" align="center">Articles</div>

<!-- Show page navigation buttons -->
<div align="center">
  <%= will_paginate %>
</div>  

<!-- Display article partial -->
<%= render 'article', obj: @articles %>

<!-- Show page navigation buttons -->
<div align="center">
  <%= will_paginate %>
</div>