<h1 align="center">Articles</h1>

<!-- Show page navigation buttons -->
<div align="center">
  <%= will_paginate %>
</div>  

<!-- Display article partial -->
<%= render 'article', obj: @articles %>

<!-- Show page navigation buttons -->
<div align="center">
  <%= will_paginate %>
</div>