<div class="title" align="center">About Page</div>

<div class="jumbotron">
  <div class="reg-text center">Lorem Ipsum</div>
  <p class="divider">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at venenatis neque. Nunc vitae dui sit amet tellus ullamcorper luctus eu mattis metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer fringilla ligula vel interdum bibendum. Donec convallis auctor metus, quis mollis orci dignissim sit amet. Etiam fermentum ut augue vitae porttitor. 
  </p>
</div>