<div class="jumbotron center" id="home-img">

  <div class="main-title">Orange Blog</div>

  <!-- Link to users new page -->
  <%= link_to "Sign up now", signup_path, class: "main-button category-text"%>

</div>